
	<div class="login-card">
		<img src="assets/img/avatar_2x.png" class="profile-img-card">
		<p class="profile-name-card"></p>
		<form class="form-signin">
			<span class="reauth-email"> </span> 
			<input class="form-control" type="email" ng-model="email" placeholder="Email address" autofocus id="inputEmail" required>
			<div class="input-help">
      			<h4>Invalid Email</h4>
    		</div>
			<input ng-model="password" class="form-control immediate-help" password-validate type="password" placeholder="Password" id="inputPassword" required>
			<div class="input-help">
				<h4>Password must meet the following requirements:</h4>
			    	<ul>
			        	<li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
			        	<li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
			        	<li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
			      	</ul>
		    </div>
			<div class="checkbox">
				<div class="checkbox">
					<label> <input type="checkbox">Remember me
					</label>
				</div>
			</div>
			<button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
		</form>
		<a href="#" class="forgot-password">Sign Up</a>
		<a href="#" class="forgot-password" style="float:right;">Forgot your password?</a>
	</div>
